@import "compass";
@import "extend";

.wrap {
	background: url("../images/index/index-bg.jpg") no-repeat;
}
.title1 {
    margin-top: 60px;
	text-align: center;
}
.title2 {
	text-align: center;
}
.title3 {
    margin-top: -25px;
	text-align: center;
}
.people {
	margin-top: 20px;
	text-align: center;
}
.letsgo-btn {
    margin-top: -23px;
	text-align: center;
}
